snippet fori
fori ${0:i} in ${1:object} 
  ${2:loop}

snippet for
for (let ${0:i} = ${1:0}, ${2:len} = ${3:array.length}; $0 < $2; $0 ++) {
  ${4:loop}
}

snippet foro
for ${0:i} of ${1:object}
  ${2:loop}

snippet fun
function ${0:name} (${1:args}) {
  ${2:body}
}
