<html>
  <head>
    <title>{{name}}</title>
    {{#if_eq frame react}}
    <!-- Product Mode
    <script src="https://cdn.bootcss.com/react/16.4.0-alpha.0911da3/umd/react.production.min.js"></script>
    <script src="https://cdn.bootcss.com/react-dom/16.4.0-alpha.0911da3/umd/react-dom.production.min.js"></script>
    -->
    <script src="https://cdn.bootcss.com/react/16.4.0-alpha.0911da3/umd/react.development.js"></script>
    <script src="https://cdn.bootcss.com/react-dom/16.4.0-alpha.0911da3/umd/react-dom.development.js"></script>
    {{/if_eq}}
    {{#if_eq frame vue}}
    <!-- Product Mode
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    -->
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    {{/if_eq}}
    {{#if_eq refresh socketio}}
    <script src="https://cdn.bootcss.com/socket.io/2.1.0/socket.io.js"></script>
    {{/if_eq}}
  </head>
  <body>
    <div id="app">
    </div>
    <script type="module" src="/static/index.js"></script>
    {{#if_eq refresh poll}}
    <script>
setInterval(() => {
  fetch('/need/to/update')
    .then(res => res.text())
    .then(change => {
      if (change === 'true') window.location.reload()
    })
}, 1000)
    </script>{{/if_eq}}
    {{#if_eq refresh socketio}}
    <script>
let socket = io('http://localhost:3000')
socket.on('message', data => {
  if (data.change) {
    socket.close()
    window.location.reload()
  }
})
    </script>
    {{/if_eq}}
  </body>
</html>
