[submodule "pack/bundle/start/indentLine"]
	path = pack/bundle/start/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule "pack/bundle/start/typescript-vim"]
	path = pack/bundle/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "pack/bundle/start/tsuquyomi"]
	path = pack/bundle/start/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
[submodule "pack/bundle/start/vim-mundo"]
	path = pack/bundle/start/vim-mundo
	url = git@github.com:simnalamburt/vim-mundo.git
[submodule "pack/bundle/start/undotree"]
	path = pack/bundle/start/undotree
	url = git@github.com:mbbill/undotree.git
