[submodule "pack/bundle/start/indentLine"]
  path = pack/bundle/start/indentLine
  url = git@github.com:Yggdroot/indentLine.git
[submodule "pack/bundle/start/typescript-vim"]
  path = pack/bundle/start/typescript-vim
  url = git@github.com:leafgarland/typescript-vim.git
[submodule "pack/bundle/start/nord-vim"]
  path = pack/bundle/start/nord-vim
  url = git@github.com:arcticicestudio/nord-vim.git
[submodule "pack/bundle/start/vim-vsnip"]
  path = pack/bundle/start/vim-vsnip
  url = git@github.com:hrsh7th/vim-vsnip.git
