{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },{{#frame:react}}
  "extends": ["plugin:react/recommended"],{{/frame:react}}
  "env": {
    "node": true,
    "browser": true
  },  
  "rules": {
    "semi": ["error", "never"],
    "no-undef": 2,
    "no-unused-vars": 2,
    "comma-spacing": 1{{#frame:react}},
    "react/prop-types": 0{{/frame:react}}
  }
}

