{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
     {{#frame:react}}"plugin:react/recommended",
     {{/frame:react}}{{#frame:vue}}"plugin:vue/essential",
     {{/frame:vue}}"standard"
  ],
  "env": {
    "node": true,
    "browser": true
  },  
  "rules": {
    "semi": ["error", "never"],
    "no-undef": 2,
    "no-unused-vars": 2,
    "comma-spacing": 1{{#frame:react}},
    "react/prop-types": 0{{/frame:react}}
  }
}

