* {
  margin: 0;
  --padding: 200px;
  --normal-color: #373a3c;
  --light-white: #f7f7f9;
  --code-color: #b8006c;
}

body {
  font-size: 18px;
  color: var(--normal-color);
}

#app {
  padding: 0 var(--padding);
}

#app::before {
  content: '';
  display: block;
  height: 56px;
  background: #2d343a;
}

h1 {
  padding: 40px var(--padding);
  box-sizing: border-box;
  color: var(--normal-color);
  background: var(--light-white);
}

#app::before,
h1 {
  margin-left: calc(-1 * var(--padding));
  width: 100vw;
}

p {
  margin: 20px 0;
  font-size: 20px;
  color: var(--normal-color);
}

h2 {
  margin-top: 32px;
  margin-bottom: 20px;
  color: var(--normal-color);
}

code {
  color: var(--code-color);
  margin: 0 10px;
  background: var(--light-white);
}

pre>code {
  display: block;
  position: relative;
  padding-left: 80px;
  border-left: #e8bd36 4px solid;
  font-size: 18px;
  color: var(--code-color);
  background: #fcfbf5;
  overflow-y: hidden;
}

pre>code::before {
  content: "01.\A 02.\A 03.\A 04.\A 05.\A 06.\A 07.\A 08.\A 09.\A 10.\A 11.\A 12.\A 13.\A 14.\A 15.\A 16.\A 17.\A 18.\A 19.\A 20.\A 21.\A 22.\A 23.\A 24.\A";
  position: absolute;
  left: 25px;
  top: 0;
  color: #8b6e11;
}

pre>code::after {
  content: '';
  position: absolute;
  left: 65px;
  top: 0;
  width: 1px;
  height: 100%;
  background: #e8bd36;
}

li {
  margin: 20px 0;
  color: var(--normal-color);
}

a {
  color: #dc2359;
  text-decoration: none;
}

a:hover {
  color: #971811;
  text-decoration: underline;
}

.header {
   background-color: #4b8c74;
   color: white;
   font-size: 1.5em;
   padding: 1rem;
   text-align: center;
   text-transform: uppercase;
}

.table-users {
   border: 1px solid #4b8c74;
   border-radius: 10px;
   box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
   max-width: calc(100% - 2em);
   margin: 1em auto;
   overflow: hidden;
   width: 800px;
}

table {
   width: 100%;
}

td, th {
  color: #4b8c74;
  padding: 10px;
}

td {
  text-align: center;
  vertical-align: middle;
}

td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}

th {
  border-bottom: #4b8c74 solid 1px;
  background-color: #cffc83;
  font-weight: 700;
  color: #444;
}

tr:nth-child(2n) {
  background-color: white;
}
tr:nth-child(2n+1) {
  background-color: #cffc83;
}
.t {
  border-right: #4b8c74 1px solid;
  border-bottom: #4b8c74 1px solid;
  background: #fff;
}
